<h1>Seja Bem-vindo</h1>
<p><strong><%= data_br(Date.today) %></strong></p>
<%=render "menu"%>
<p>Você está em ambiente de <%= ambiente_rails%></p>
<p>Eu sou uma variável de instância/sessão <%=@meu_nome%></p>